<h2 class=>Información de la votación</h2>

  <p><strong>Votacion en etapa:</strong> 
  <%= @votacion.etapa%></p>

  <p><strong>Razon:</strong>
  <%= @votacion.razon %></p>


  <p><strong>Inicio:</strong>
  <%= @votacion.inicio %></p>



  <p><strong>Finalizacion:</strong>
  <%= @votacion.finalizacion %></p>

  <p><strong>Cantidad de balotas:</strong>
  <%= @votacion.balotas %></p>



