 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">


<h1 class="text-center"><%=@votacion.razon%></h1>


<% @partidos.each do |partido| %>

	<div class="col-lg-12 text-center">
		<h3 >Partido <%=partido.nombre%></h3>
	</div>
	<div class="col-lg-12" style="background-color: <%=partido.color%>; padding: 10px;">
		
	<% if partido.opcions.count != 1 %>
		<% partido.opcions.each do |opcion| %>
			<center>
			<div class="col-lg-6">
				<img src="/assets/missing.png" width="500px" height="500px" style="border: solid 5px <%=partido.color_secundario%>;background-color:white;"><br>
				<h3 style="color: <%=partido.color_secundario%>"><%=opcion.nombre%></h3>
				<a href="/votar" class="btn btn-success" disabled>VOTAR</a>			</div>
			</div>
			</center>
		<% end %>
	<% else %>
		<% partido.opcions.each do |opcion| %>
			<center>
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<img src="/assets/missing.png" width="500px" height="500px" style="border: solid 5px <%=partido.color_secundario%>;background-color:white;"><br>
				<h3 style="color: <%=partido.color_secundario%>"><%=opcion.nombre%></h3>
				<a href="/votar" class="btn btn-success" disabled>VOTAR</a>			</div>
			</div>
			</center>
		<% end %>
	<% end %>

	</div>
<% end %>